@CHARSET "UTF-8";
/**
 * CSS file for the graph
 */

#graphHolder {
	width:100%;
	min-height:125px;
}

#graphTitle {
	font-size:12px;	
}

#no_data {
	margin: 0 auto;
}

.tickLabels div {
	-webkit-transform: rotate(-45deg);
}
